#bikatoc {
    top: 0px;
    right: 0px;
    height: 100%;
    position: fixed;
    background: #333;
    box-shadow: 5px 0px 5px 0px #000 inset;
    width: 150px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 45px;
    color: #fff;
    z-index: 1000;
    overflow: auto;
}
#bikatoc a.control {
    display: block;
}

#bikatoc .toc {
    background-color: inherit;
    border: none;
}
#bikatoc .toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#bikatoc .toc li {
    padding: 5px 10px;
}

#bikatoc .toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#bikatoc .toc .toc-h2 {
    padding-left: 10px;
}

#bikatoc .toc .toc-h3 {
    padding-left: 20px;
}

#bikatoc .toc .toc-active {
    background: #336699;
    box-shadow: 5px 0px 10px -5px #000 inset;
}